@import '../abstract/_variaveis.scss';

.topic--details {

    .card--details {
        overflow: visible;
        width: 100%;
        display: grid;
        row-gap: 16px;

        .img__picos__detail {
            width: 100%;
        }

        .card__content__details--main {
            row-gap: 16px;
        }

        .card__content__details {
            display: grid;
            column-gap: 40px;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto auto;

            .tittle__secondary--details {
                grid-row: 1;
                grid-column: span 2;
            }

            .text__picos__detail {
                grid-column: span 2;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
            }

            .autor {
                display: grid;
                align-items: center;
                column-gap: 8px;

                .img__perfil {
                    background: url(/assets/img/Ellipse_4.png) no-repeat;
                    height: 24px;
                    width: 24px;
                    grid-row: 1;
                }

                .autor__card--details {
                    justify-self: flex-start;
                    color: $main-font;
                    font-weight: 400;
                    font-size: 16px;
                    grid-row: 1;
                }
            }

            .views__card--white {
                color: $main-font;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;

                &::before {
                    content: '\e90f';
                    font-size: 13px;
                    margin-right: 5px;
                }
            }

        }
    }
}