@import '../abstract/_variaveis.scss';

.topic {
    margin-bottom: 24px;
    margin-top: 16px;
    display: grid;
    gap: 20px;

    h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
    }

    .card {
        border-radius: 16px;
        overflow: hidden;

        .img__featured--mobile {
            width: 100%;
            height: 306px;
        }

        .img__single-card {
            width: 100%;
            height: 160px;
        }

        .img__most__viewed__main__banner--mobile {
            height: 336px;
        }

        .img__featured--desktop {
            display: none;
        }

        .card__content {
            background: $card-color;
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 44px;
            row-gap: 8px;
            padding-top: 16px;
            padding-bottom: 16px;

            .description__card {
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                grid-column: span 2;
            }

            .main__title__card {
                font-weight: 700;
                height: 48px;
                font-size: 18px;
                line-height: 24px;
                grid-column: span 3;
            }

            .main__title__card--featured {
                height: 24px;
            }

            .autor__card {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: $alternative-color;
                grid-column: span 2;
            }

            .views__card {
                color: $alternative-color;
                font-weight: 400;
                font-size: 14px;
                grid-column: 2;
                line-height: 24px;
            }

            .views__card::before {
                content: '\e90f';
                font-size: 13px;
                margin-right: 5px;
            }

            .money__card {
                color: $alternative-color;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                grid-column: 1;
                align-self: center;
                grid-row: 3;
            }

            .money__card::before {
                content: '\e905';
                font-size: 15px;
                margin-right: 5px;
                vertical-align: bottom;
            }

            .time__card {
                color: $alternative-color;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                grid-column: 1;
                align-self: center;
                grid-row: 3;
            }

            .money__card--main-banner,
            .time__card--featured {
                grid-row: 4;
            }

            .time__card::before {
                content: '\e90c';
                font-size: 13px;
                margin-right: 5px;
            }

            .button__card {
                height: 40px;
                width: 100%;
                grid-column: span 3;
                justify-content: center;
                background: #0480DC;
                border-radius: 8px;
                padding: 8px;
                gap: 8px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            .button__card--most__viewed {
                width: 40px;
                justify-self: flex-end;
                grid-row: 3;
            }

            .button__card--most__viewed i::before {
                content: '\e90b';
                font-size: 24px;
            }

            .button__card--featured i::before {
                content: '\e90b';
                font-size: 24px;
            }

            .button__card--main--banner i::before {
                content: '\e901';
                font-size: 24px;
            }

            .button__card--latest__shirts i::before {
                content: '\e901';
            }
        }
    }
}