@import '../abstract/_main.scss';

.lock__menu {
    overflow: hidden;
}

.lateral__menu {
    background: $secondary-background-color;
    height: 100vh;
    width: 75vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    position: absolute;
    left: -100vw;
    transition: .5s;

    .lateral__menu--logo {
        width: 118px;
        height: 118px;
        justify-self: center;
    }

    .lateral__menu__list {
        margin-top: 35px;

        .menu__list--item {
            height: 64px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            padding-left: 64px;
            display: grid;
            align-items: center;
        }

        .menu__list--active {
            color: #ffffff;
            padding-left: 56px;
            border-left: 8px solid white;
        }

        .menu__list--item i::before {
            position: absolute;
            left: 26px;
            font-size: 24px;
        }

        .menu__list--item:nth-child(1) i::before {
            content: '\e902';
        }

        .menu__list--item:nth-child(2) i::before {
            content: '\e90e';
        }

        .menu__list--item:nth-child(3) i::before {
            content: '\e909';
        }

        .menu__list--item:nth-child(4) i::before {
            content: '\e903';
        }

        .menu__list--item:nth-child(5) i::before {
            content: '\e900';
        }

        .menu__list--item:nth-child(6) i::before {
            content: '\e90a';
        }
    }
}

.active__menu {
    transition: .5s;
    left: 0;
}