@import '../abstract/_main.scss';

.most__viewed__videos,
.latest__shirts {

    .most__viewed--card,
    .latest__shirts--card {

        .img__most__viewed__main__banner--mobile {
            height: 336px;
        }

        .most__viewed__content,
        .latest__shirts__content {

            .main__title__card--main--banner {
                height: 24px;
            }

            .money__card {
                color: $alternative-color;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                grid-column: 1;
                align-self: center;
            }

            .money__card::before {
                content: '\e905';
                font-size: 15px;
                margin-right: 5px;
                vertical-align: bottom;
            }

            .views__card {
                color: $alternative-color;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                grid-column: 2;
            }

            .views__card::before {
                content: '\e90f';
                font-size: 13px;
                margin-right: 5px;
            }


            .button__card--main--banner {
                width: 100%;
                justify-content: center;
                grid-column: span 2;
            }

            .button__card--main--banner i::before {
                content: '\e901';
                font-size: 24px;
            }

            .button__card--latest__shirts i::before {
                content: '\e901';
            }
        }
    }
}