@import '../../abstract/_variaveis.scss';

@media screen and (min-width:1440px) {
    .topic {

        .tittle__secondary {
            font-size: 26px;
        }
    }

    .featured {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 2;
        column-gap: 32px;
        grid-column: span 4;

        .featured h2 {
            grid-column: span 3;
            grid-row: 1;
        }

        .card--featured {
            grid-column: span 2;
            grid-row: 2;

            .img__featured--mobile {
                display: none;
            }

            .img__featured--desktop {
                display: initial;
                height: 336px;
                width: 100%;
            }

            .card__content {

                .description__card {
                    font-size: 18px;
                }

                .main__title__card--featured {
                    font-size: 26px;
                }

                .button__card--featured {
                    width: 153px;
                    font-size: 14px;
                }
            }

        }

        .card__recent__videos {
            grid-row: 2;
        }
    }
}