@import '../../abstract/_variaveis.scss';

@media screen and (min-width:1024px) {
    .topic--line {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 32px;
        row-gap: 24px;

        h2 {
            grid-row: 1;
            grid-column: span 2;
        }

        .card--line {
            grid-row: 2;
        }
    }
}