@font-face {
  font-family: "icones";
  src: url(../font/icones.ttf);
}
body {
  background-color: #1D232A;
  font-family: "Open Sans", "icones", sans-serif;
  color: #FFFFFF;
  box-sizing: border-box;
}

.container {
  padding-left: 4.4%;
  padding-right: 4.4%;
}

@media screen and (min-width: 1440px) {
  body {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  header {
    grid-column: 2;
    grid-row: 1;
  }
  nav {
    grid-column: 1;
    grid-row: span 2;
  }
  main {
    grid-column: 2;
    grid-row: 2;
  }
}
.header__desktop {
  display: none;
}

.header__main {
  background-color: #15191C;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 56px;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.header__main .header__menu {
  height: 24px;
  width: 24px;
  grid-column: 1;
}
.header__main .header__menu i::before {
  content: "\e904";
  font-size: 24px;
}
.header__main .mobile__logo {
  width: 40px;
  height: 40px;
  grid-column: 2;
  justify-self: center;
}
.header__main .header__notification {
  height: 24px;
  width: 24px;
  justify-self: flex-end;
  grid-column: 3;
}
.header__main .header__notification i::before {
  content: "\e906";
  font-size: 24px;
}

.lock__menu {
  overflow: hidden;
}

.lateral__menu {
  background: #15191C;
  height: 100vh;
  width: 75vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  position: absolute;
  left: -100vw;
  transition: 0.5s;
}
.lateral__menu .lateral__menu--logo {
  width: 118px;
  height: 118px;
  justify-self: center;
}
.lateral__menu .lateral__menu__list {
  margin-top: 35px;
}
.lateral__menu .lateral__menu__list .menu__list--item {
  height: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  padding-left: 64px;
  display: grid;
  align-items: center;
}
.lateral__menu .lateral__menu__list .menu__list--active {
  color: #ffffff;
  padding-left: 56px;
  border-left: 8px solid white;
}
.lateral__menu .lateral__menu__list .menu__list--item i::before {
  position: absolute;
  left: 26px;
  font-size: 24px;
}
.lateral__menu .lateral__menu__list .menu__list--item:nth-child(1) i::before {
  content: "\e902";
}
.lateral__menu .lateral__menu__list .menu__list--item:nth-child(2) i::before {
  content: "\e90e";
}
.lateral__menu .lateral__menu__list .menu__list--item:nth-child(3) i::before {
  content: "\e909";
}
.lateral__menu .lateral__menu__list .menu__list--item:nth-child(4) i::before {
  content: "\e903";
}
.lateral__menu .lateral__menu__list .menu__list--item:nth-child(5) i::before {
  content: "\e900";
}
.lateral__menu .lateral__menu__list .menu__list--item:nth-child(6) i::before {
  content: "\e90a";
}

.active__menu {
  transition: 0.5s;
  left: 0;
}

.topic {
  margin-bottom: 24px;
  margin-top: 16px;
  display: grid;
  gap: 20px;
}
.topic h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}
.topic .card {
  border-radius: 16px;
  overflow: hidden;
}
.topic .card .img__featured--mobile {
  width: 100%;
  height: 306px;
}
.topic .card .img__single-card {
  width: 100%;
  height: 160px;
}
.topic .card .img__most__viewed__main__banner--mobile {
  height: 336px;
}
.topic .card .img__featured--desktop {
  display: none;
}
.topic .card .card__content {
  background: #2C343A;
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 44px;
       column-gap: 44px;
  row-gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.topic .card .card__content .description__card {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  grid-column: span 2;
}
.topic .card .card__content .main__title__card {
  font-weight: 700;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  grid-column: span 3;
}
.topic .card .card__content .main__title__card--featured {
  height: 24px;
}
.topic .card .card__content .autor__card {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #95999C;
  grid-column: span 2;
}
.topic .card .card__content .views__card {
  color: #95999C;
  font-weight: 400;
  font-size: 14px;
  grid-column: 2;
  line-height: 24px;
}
.topic .card .card__content .views__card::before {
  content: "\e90f";
  font-size: 13px;
  margin-right: 5px;
}
.topic .card .card__content .money__card {
  color: #95999C;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  grid-column: 1;
  align-self: center;
  grid-row: 3;
}
.topic .card .card__content .money__card::before {
  content: "\e905";
  font-size: 15px;
  margin-right: 5px;
  vertical-align: bottom;
}
.topic .card .card__content .time__card {
  color: #95999C;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  grid-column: 1;
  align-self: center;
  grid-row: 3;
}
.topic .card .card__content .money__card--main-banner,
.topic .card .card__content .time__card--featured {
  grid-row: 4;
}
.topic .card .card__content .time__card::before {
  content: "\e90c";
  font-size: 13px;
  margin-right: 5px;
}
.topic .card .card__content .button__card {
  height: 40px;
  width: 100%;
  grid-column: span 3;
  justify-content: center;
  background: #0480DC;
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.topic .card .card__content .button__card--most__viewed {
  width: 40px;
  justify-self: flex-end;
  grid-row: 3;
}
.topic .card .card__content .button__card--most__viewed i::before {
  content: "\e90b";
  font-size: 24px;
}
.topic .card .card__content .button__card--featured i::before {
  content: "\e90b";
  font-size: 24px;
}
.topic .card .card__content .button__card--main--banner i::before {
  content: "\e901";
  font-size: 24px;
}
.topic .card .card__content .button__card--latest__shirts i::before {
  content: "\e901";
}

@media screen and (min-width: 1440px) {
  .header__mobile {
    display: none;
  }
  .header__main {
    grid-template-columns: 1fr;
    background: #1D232A;
  }
  .header__desktop {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-right: 37px;
    margin-right: 36px;
    border-right: 1px solid #95999C;
    justify-self: flex-end;
  }
  .profile__picture {
    width: 32px;
    height: 32px;
  }
  .header__desktop select {
    background: transparent;
    color: #FFFFFF;
    height: 20px;
    width: 20px;
    outline: none;
  }
  .header__desktop p {
    color: #95999C;
  }
}
@media screen and (min-width: 1440px) {
  .lateral__menu {
    left: 0;
    position: static;
    width: 204px;
  }
}
.card__recent__videos {
  display: none;
}

@media screen and (min-width: 1440px) {
  .card__recent__videos--featured {
    height: 464px;
  }
  .card__recent__videos--most-viewed {
    height: 496px;
  }
  .card__recent__videos {
    display: initial;
    width: 256px;
    background: #2C343A;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
  }
  .card__recent__videos h2 {
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    height: 24px;
    margin-right: 13px;
    margin-bottom: 16px;
  }
  .card__recent__videos a {
    font-weight: 600;
    font-size: 14px;
    color: #0480DC;
    display: inline-block;
  }
  .card__recent__videos ul .recent__videos__item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 2;
    align-items: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
    margin-bottom: 16px;
  }
  .card__recent__videos ul .recent__videos__item h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }
  .card__recent__videos ul .recent__videos__item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #95999C;
  }
  .card__recent__videos ul .recent__videos__item img {
    width: 32px;
    height: 32px;
    grid-column: 1;
    grid-row: span 2;
  }
}
@media screen and (min-width: 1440px) {
  .featured {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 2;
    -moz-column-gap: 32px;
         column-gap: 32px;
    grid-column: span 4;
  }
  .featured .featured h2 {
    grid-column: span 3;
    grid-row: 1;
  }
  .featured .card--featured {
    grid-column: span 2;
    grid-row: 2;
  }
  .featured .card--featured .img__featured--mobile {
    display: none;
  }
  .featured .card--featured .img__featured--desktop {
    display: initial;
    height: 336px;
    width: 100%;
  }
  .featured .card--featured .card__content .description__card {
    font-size: 18px;
  }
  .featured .card--featured .card__content .main__title__card--featured {
    font-size: 26px;
  }
  .featured .card--featured .card__content .button__card--featured {
    width: 153px;
    font-size: 14px;
  }
  .featured .card__recent__videos {
    grid-row: 2;
  }
}
@media screen and (min-width: 1440px) {
  .topic--line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 24px;
  }
  .topic--line h2 {
    grid-row: 1;
    grid-column: span 2;
  }
  .topic--line .card--line {
    grid-row: 2;
  }
}/*# sourceMappingURL=style.css.map */